/********************************************************************
 *  Style rules for "training" section.
*/

.training div {
  background-color: rgba(116, 75, 61, .3);
  height: 200px;
  overflow: scroll;
  padding: 0.5em;
}

.training div p {
  margin: 0.1em 0;
}